<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Store Website</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://use.typekit.net/mvz3hqw.css">
</head>

<body>
    <header>
        <div class="main-menu">
            <nav>
                <h1><a href="/index">STORE WEBSITE</a></h1>
                <form action="/product" method="GET" class="search-form">
                    <input type="text" name="search" value="<%= typeof search !== 'undefined' ? search : '' %>" placeholder="Search like you mean it" />
                    <button type="submit">🔍</button>
                  </form>                           
                <div class="nav-imgs">
                    <a href="/"><img src="https://friconix.com/png/fi-xnluhs-shopping-cart.png" 
                            alt="shopping cart icon" id="cart" /></a>
                    <a href="/login"><img src="https://friconix.com/png/fi-cnluxs-user-circle-solid.png"
                            alt="profile icon" id="profile" /></a>
                </div>
            </nav>
        </div>
    </header>