<%- include('partials/header') %>

    <main>
        <div class="content">
            <h1>
                Frequently Asked Questions
            </h1>
            <h2>How Much Is The Shipping Cost?</h2>
            <p class="faq-text">
                Shipping costs vary depending on your location and the shipping method selected at checkout. We offer standard and expedited shipping options.
            </p>
            <hr class="black-line">

            <h2>Do We Ship Internationally?</h2>
            <p class="faq-text">
                Yes, we do offer international shipping to select countries. Shipping costs and delivery times vary depending on your location. Please enter your shipping address at checkout to see available options.


            </p>
        </div>
    </main>

    <%- include('partials/footer') %>