<%- include('partials/header') %>

    <main>
        <div class="login-container">
            <h2>Sign in to your account</h2>
            <form action="/auth/login" method="POST">
                <input type="text" name="username" placeholder="Username" class="input-field" required/>
                <input type="password" name="password" placeholder="Password" class="input-field" required/>
                <button type="submit" class="continue-button">Continue</button>
            </form>
            <p class="signup-text">
                New to our site? <a href="/register">Create Account</a>
            </p>
        </div>
    </main>

<%- include('partials/footer') %>
