<%- include('partials/header') %>

    <main>
        <div class="login-container">
            <h2>Create new account</h2>
            <form>
                <input type="text" placeholder="First Name" class="input-field" />
                <input type="text" placeholder="Last Name" class="input-field" />
                <input type="text" placeholder="Email or username" class="input-field" />
                <input type="password" placeholder="Password" class="input-field" />
                <button type="submit" class="continue-button">Register</button>
            </form>
        </div>
    </main>

    <%- include('partials/footer') %>