<%- include('partials/header') %>

    <section class="welcome-section-user">


        <h1 class="user-dashboard"> Your Personalized Dashboard</h1>
        <div class="divider">
            <span class="line"></span>
            <span class="heart">♥</span>
            <span class="line"></span>
        </div>
        <div class="account-buttons">
            <button onclick="location.href=''">Your Saved Cards</button>
            <button onclick="location.href=''">Saved Addresses</button>
            <button onclick="location.href=''">Your Orders</button>
            <form action="/auth/logout" method="POST">
                <button type="submit">Logout</button>
            </form>
        </div>
    </section>

<%- include('partials/footer') %>
