body {
    background: #e0d1bc;
    margin: 0;
    color: white;
    line-height: 1.5;
    letter-spacing: 0.4px;
    word-spacing: 0.4px;

    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex: 1;
}

.title {
    font-family: "cooper-black-std", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 120%;
}

/* NAV */

.search-form {
    display: flex;
    align-items: center;
    gap: 5px;
}

.search-form input[type="text"] {
    width: 250px;
    /*wider */
    padding: 8px 12px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 16px;
    /* Rounded corners */
    font-size: 16px;
    /* Slightly bigger font */
    transition: background-color 0.3s ease;
}

.search-form input[type="text"]:focus {
    background-color: #56694f;
    outline: none;
    border-color: #e0d1bc;
}

.search-form input[type="text"]:focus::placeholder {
    color: #e0d1bc;
    opacity: 1;
}


header {
    background: #56694f;
    position: sticky;
    box-sizing: border-box;
    top: 0;
    width: 100%;
    padding: 1px;
    text-align: center;
    align-items: center;
    z-index: 9999;

    color: #e0d1bc;
}

nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    flex-wrap: wrap;
}

nav h1 {
    margin: 0;
    font-size: 1.5rem;
}

nav h1 a {
    color: #e0d1bc;
    padding: 5px;
}

nav h1 a:hover {
    text-decoration: none;
    border: 1px solid white;
    border-radius: 10px;
}

nav input[type="text"] {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.nav-imgs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nav-imgs a img {
    border: 1px solid transparent;
}

.nav-imgs a:hover img {
    border: 1px solid white;
}

#cart,
#profile {
    width: 30px;
    height: 30px;
    padding: 5px;
    cursor: pointer;
}

/* FOOTER */

footer {
    font-family: "inria-serif", sans-serif;
    font-weight: 300;
    font-style: normal;

    background: #56694f;
    color: #e9dece;
    text-align: center;
    padding: 10px;

    margin-top: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

footer a {
    color: #e0d1bc;
}

/* HOME */

.first-text {
    top: 0;
    width: 100%;
    padding: 1px;
    text-align: center;
    font-size: 50px;
}

.front-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
}

img {
    height: 600px;
    width: auto;
    border-radius: 10px;
    display: block;
}

.image {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.image-link {
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.shop-button {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 40px;
    background-color: rgba(255, 255, 255, 0.85);
    border: none;
    border-radius: 20px;
    font-size: 17px;
    opacity: 1;
    transition: all 0.3s ease;
    cursor: pointer;
    pointer-events: none;
}

.image:hover .shop-button {
    opacity: 1;
    pointer-events: auto;
   
    transform: translate(-50%, 0%);
  
}

/* Secondary navbar under part */

.category-navbar {
    background-color: rgba(144, 238, 144, 0.5);
    padding: 0px;
}

.category-container {
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    gap: 20px;
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
}

.category-container a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #873b28;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
    transition: transform 0.2s;
}

.category-container a:hover {
    transform: scale(1.1);
    text-decoration: none;
    border: 1px solid white;
    border-radius: 10px;
}

/* ABOUT US & FAQ */

.content {
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content h1 {
    color: #873b28;
    font-size: 80px;
    margin-top: 25px;
    margin-bottom: 0.5rem;
}

.content h2 {
    color: #873b28;
    font-size: 40px;
    margin-bottom: 0.5rem;
}

.faq-text {
    color: black;
    font-size: 20px;
    max-width: 650px;

    font-size: 28px;
}

.who-we-are-text {
    color: black;
    font-size: 20px;
    max-width: 650px;

    font-size: 28px;
}

.black-line {
    border: none;
    height: 2px;
    width: 800px;
    background-color: black;
}

/* LOGIN */

.login-container {
    text-align: center;
    padding: 40px;
    border-radius: 10px;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #000;
}

.input-field {
    display: block;
    width: 300px;
    padding: 10px;
    margin: 10px auto;
    border-radius: 10px;
    border: none;
    background-color: #e6e6e6;
}

.continue-button {
    width: 300px;
    padding: 10px;
    background-color: rgba(50, 205, 50, 0.789);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
}

.continue-button:hover {
    background-color: lightgreen;
}

.signup-text {
    margin-top: 15px;
    font-size: 0.9rem;
    color: black;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*PRODUCT PAGE*/

.product-title {
    top: 0;
    width: 100%;
    padding: 1px;
    text-align: center;
    font-size: 50px;
    color:#873b28;
}

.prod-image {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 30px;

}

.prod-image img {
    height: 400px;
    width: auto;
    border-radius: 10px;
    padding-top: 50px;
    display: block;
}

.image-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;

    position: relative;
    display: inline-block;
    overflow: hidden;
}

.image-card img {
    height: 400px;
    width: auto;
    border-radius: 10px;
}

.image-card a {
    color: #333;
}

.image-caption {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}

.price-text {
    color: black;
}

.prod-button {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 25px;
    background-color: rgba(255, 255, 255, 0.85);
    border: none;
    border-radius: 20px;
    font-size: 10px;
    opacity: 0;
    transition: all 0.3s ease;
    cursor: pointer;
    pointer-events: none;
}

.image-card:hover .prod-button {
    opacity: 1;
    transform: translate(-50%, -50%);
    /* slide into center */
    pointer-events: auto;
}



/*USER PAGE*/

.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.divider .line {
    width: 400px;
    height: 2px;
    background-color: black;
    margin: 0 10px;
}

.heart {
    font-size: 60px;
    color: black;
}

.welcome-section-user {
    width: 100%;
    padding: 2rem;
    border-radius: 8px;
    margin-bottom: 2rem;
    text-align: center;
}

.welcome-section-user h1 {
    font-size: 70px;
    color: black;
}

.account-buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.account-buttons button {
    width: 100%;
    max-width: 300px;
    height: 100px;
    padding: 12px 24px;
    border-radius: 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/*PRODUCT DETAILS*/

.product-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.product-detail h1 {
    font-size: 40px;
    color: black;
}

.product-detail p {
    color: black
}

.flash-message,
.flash-inline {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    padding: 10px 15px;
    border-radius: 8px;
    opacity: 1;
    transition: opacity 1s ease-out;
}

.flash-message {
    margin: 10px auto;
    width: fit-content;
    text-align: center;
}

.flash-inline {
    margin-top: 5px;
    font-size: 0.9rem;
    display: inline-block;
    position: relative;
    padding: 5px 10px;
}

.fade-out {
    opacity: 0;
}

.price-text{
    font-weight: bold;
    font-size: 22px;
}
.image-caption{
    font-size: 22px;
}

.first-text h1{
    color: black;
    
}

.product-detail h1 {
    font-size: 32px; 
}
  
.product-detail p {
    font-size: 32px
  }

/*CART / CHECKOUT PAGE*/

.checkout-title {
    text-align: center;
    margin-top: 30px;
    font-size: 2rem;
}

.cart-page-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    /* space between cart and total */
    max-width: 1100px;
    margin: 40px auto;
    padding: 0 20px;
}

.empty-cart-msg {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2rem;
    color: white;
}

.cart-container-main {
    background-color: #cd9b59;
    border: 2px solid #ddd;
    padding: 30px;
    border-radius: 12px;
    max-width: 800px;
    margin: 40px auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


.cart-container-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 800px;
    margin: 30px auto;
    padding: 0 20px;
}

.cart-total-box {
    flex-shrink: 0;
    background-color: #cd9b59;
    padding: 25px 35px;
    border-radius: 12px;
    font-weight: 700;
    font-size: 2rem;
    min-width: 250px;
    align-self: flex-start;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.cart-total-box h2,
.cart-total-box h3 {
    color: white;
}

.cart-total-box h3 {
    margin-bottom: 5px;
}


.cart-item {
    display: flex;
    gap: 20px;
    background-color: #f8f9fa;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.cart-item-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}

.cart-item-details {
    flex: 1;
    color: black;
}

.cart-item-details h3 {
    margin: 0 0 10px;
}

.cart-total {
    text-align: center;
    margin: 30px 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.right-side-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 300px;
}

.cart-total-box,
.shipping-container {
  min-width: 300px;
  max-width: 300px; /* or same fixed width */
}


.shipping-container {
    margin-top: 20px;
    width: 100%;
    text-align: left;
    background-color: #cd9b59;

    border: 2px solid #ddd;
    padding: 30px;
    border-radius: 12px;
}

.shipping-container h3 {
    margin-bottom: 10px;
}

.shipping-container label {
    font-weight: bold;
}

.shipping-container input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
}

.buy-button {
    background-color: #21660a;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
}

.buy-button:hover {
    background-color: #155724;
}

.product-button {
    padding: 15px 25px;
    background-color: rgba(255, 255, 255, 0.85);
    border: none;
    border-radius: 20px;
    font-size: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}

@media (max-width: 600px) {

    body {
      flex-direction: column;
      height: auto; 
    }

 
    img {
      height: auto;
      max-width: 100%;
    }


    .title,
    .product-title,
    .content h1,
    .content h2 {
      font-size: smaller; 
    }


    nav {
      flex-direction: column;
      align-items: flex-start;
    }


    .search-form input[type="text"] {
      width: 100%;
      max-width: none;
    }

    .category-container {
      flex-direction: column;
      gap: 10px;
    }

    footer {
      flex-direction: column;
      gap: 20px;
    }


    .prod-image {
      flex-direction: column;
      gap: 15px;
    }


    .cart-page-wrapper {
      flex-direction: column;
      gap: 20px;
      margin: 20px;
    }

    .cart-total-box,
    .shipping-container {
      min-width: 100%;
      max-width: 100%;
    }


    .account-buttons button,
    .continue-button,
    .buy-button {
      width: 100%;
      max-width: 100%;
    }

    .shipping-container input[type="text"] {
      width: 100%;
    }
  }